<!--lehekülje struktuur ja sisestus-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="../employees/landing-page.component.scss" type="text/css" rel="stylesheet">
    <style type="text/css">
        .panel {
            color: grey;
        }
    </style>
</head>
<body>
    <h1>Landing Page</h1>
    <h2>Tervist</h2>
    <h3>Oled maandunud</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repellendus assumenda dolor impedit nemo nulla exercitationem nesciunt quibusdam? Reprehenderit, 
        omnis in harum fuga placeat accusantium illum sit delectus natus? Eius, id.
    </p>

    <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Tutvu autoriga</button>
    </div>

    <p>
        See nupp ei tee midagi. Keri allapoole.
    </p>
    
    <div class="panel panel-primary" *ngFor="let intro of intros">
        <div class="panel-heading">
          <h3 class="panel-title">{{intro.fullname}}</h3>
        </div>
        <div class="panel-body">
      
          <div class="col-xs-10">
      
            <div class="row vertical-align">
      
              <div class="col-xs-4">
                <img class="imageClass" [src]="intro.photoPath"/>
              </div>
              <div class="col-xs-8">

                <div class="row">
                  <div class="col-xs-6">
                    Date of Birth
                  </div>
                  <div class="col-xs-6">
                    : {{intro.dateOfBirth | date}}
                 </div>
                </div>
 
                <div class="row">
                  <div class="col-xs-6">
                    Phone
                  </div>
                  <div class="col-xs-6">
                    : {{intro.phoneNumber}}
                </div>
               </div>
               <div class="row">
                 <div class="col-xs-6">
                   Email
                 </div>
                 <div class="col-xs-6">
                   : {{intro.email}}
                 </div>
               </div>
               <div class="row">
                 <div class="col-xs-6">
                   Department
                </div>
                 <div class="col-xs-6">
                   : {{intro.school}}
                 </div>
               </div>
               <div class="row">
                 <div class="col-xs-6">
                   Is Active
                 </div>
                 <div class="col-xs-6">
                   : {{intro.isActive}}
                 </div>
              </div>
     
             </div>
     
           </div>
         </div>
       </div>
     </div>
    
</body>
</html>